In [1]:
# 1
x = ['python', 'php', 'java']
for i in x:
    print(i)

python
php
java

In [2]:
# 2
y = [1, 5, 10, 3, 4, 17, 12, 1, 2, 9]
niilber = 0
for i in range(10):
    niilber = niilber + y[i]
print(niilber)

64

In [3]:
# 3
x = [1, 2, 3, 4, 5]

def urjver(x):
    urjvr = 1
    for i in range(5):
        urjvr = urjvr * x[i]
    print(urjvr)

urjver(x)

120

In [4]:
# 4
def f(x):
    y = x[3] * x[-1]
    return y

x = [1, 2, 3, 4, 5]
f(x)

20

In [50]:
# 5
def XIXB(x):
    x.sort()
    a = x[0]
    b = x[-1]
    return (a, b)

x = [5, 10, 20, 2, 6]
XIXB(x)

(2, 20)

In [51]:
# 6
def scount(x):
    y = 0
    for i in x:
        if len(i) > 1:
            if i[0] == i[-1]:
                y = y + 1
    print(y)
    
x = ['abdba', 'abcd', '121']
scount(x)

2

In [49]:
# 7
x = ['abdba', 'abcd', '121', '121', 'abcd' ]
y = set(x)
x = list(y)
print(x)

['abcd', '121', 'abdba']

In [55]:
# 8
def empty(x):
    if len(x) == 0:
        print('Hooson baina')
    else:
        print('Hooson bish baina')
    
x = [0]
empty(x)

Hooson bish baina

In [60]:
# 9
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.pop(4)
x.pop(5)
x.pop(6)
print(x)

[1, 2, 3, 4, 6, 8, 10]

In [62]:
# 10
x = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [65]:
# 11
x = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
y = list(x)
y.append('pear')
x = tuple(y)
print(x)

('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'pear')

In [67]:
# 12
x = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
y = list(x)
print(x[2])
print(x[-2])

pear
apple

In [75]:
# 13
x = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
a = input()
y = 0
for i in x:
    if a == i:
        y = y + 1
if y == 0:
    print('Baihgui')
else:
    print('Baina')

pineapple
Baihgui

In [76]:
# 14
x = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
y = list(x)
for i in y:
    print(i)

orange
apple
pear
banana
kiwi
apple
banana

In [79]:
# 15
set_1 = {'orange', 'apple', 'pear', 'banana'}
set_2 = {'kiwi', 'apple', 'banana', 'pineapple'}
Newset = set_1.union(set_2)
print(Newset)

{'orange', 'banana', 'pineapple', 'apple', 'kiwi', 'pear'}

In [80]:
# 16
set_1 = {'orange', 'apple', 'pear', 'banana'}
set_2 = {'kiwi', 'apple', 'banana', 'pineapple'}
Newset = set_1.intersection(set_2)
print(Newset)

{'apple', 'banana'}

In [81]:
# 17
x = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
print(len(x))

5

In [85]:
# 18
x = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
a = input()
x.discard(a)
print(x)

kiwi
{'orange', 'banana', 'apple', 'pear'}

In [87]:
# 19
x = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
x.clear()
print(x)

set()

In [89]:
# 20
x = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
del x
print(x)

NameError: name 'x' is not defined

In [144]:
# 21 (1)
dicts = {
    1 : 5,
    25 : 7,
    14 : 11,
    35 : 36 }
A = list(dicts.keys())
B = list(dicts.values())
A.sort()
print('Key:', A)
B.sort(reverse=True)
print('Value:', B)

Key: [1, 14, 25, 35]
Value: [36, 11, 7, 5]

In [ ]:
# 21 (2)
dicts = {
    1 : 5,
    25 : 7,
    14 : 11,
    35 : 36 }
A = list(dicts.keys())
B = list(dicts.values())
C = A + B
C.sort()
print('Osoh:', C)
C.sort(reverse=True)
print('Buurah', C)

In [138]:
# 22
dict1 = { 
    'Manufacturer': 'Tesla', 
    'Model': '3', 
    'Year': 2021 } 
if 'Model' in dict1:
    print('Baina.')
else:
    print('Baihgui')

Baina.

In [139]:
# 23
dict1 = { 
    'Manufacturer': 'Tesla', 
    'Model': '3', 
    'Year': 2021 } 
if '3' in dict1.values():
    print('Baina.')
else:
    print('Baihgui')

Baina.

In [140]:
# 24
dict1 = { 
    'Manufacturer': 'Tesla', 
    'Model': '3', 
    'Year': 2021 } 
for x,y in dict1.items():
    print(x,y)

Manufacturer Tesla
Model 3
Year 2021

In [141]:
# 25
dict1 = { 
    'Manufacturer1': 'Tesla', 
    'Model1': '3', 
    'Year1': '2021' } 
dict2 = { 
    'Manufacturer2': 'Toyota', 
    'Model2': 'LC300', 
    'Year2': '2022' }
dict1.update(dict2)
print(dict1)

{'Manufacturer1': 'Tesla', 'Model1': '3', 'Year1': '2021', 'Manufacturer2': 'Toyota', 'Model2': 'LC300', 'Year2': '2022'}

In [142]:
# 26
dict1 = { 
    'Cost': 5000, 
    'Model': 3, 
    'Year': 2021 } 
y = 0
for i in dict1:
    y = y + dict1[i]
print(y)

7024